<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>
</head>
<body>

<div class="container">
    <div class="starter-template">
        <h1>Урок 7. Домашняя работа.</h1>
    </div>
</div>

<div class="container">
    <form action="/store" method="post">
        <table class="table table-sm table-borderless" style="border: none">
            <tr>
            <tr>
                <td style="width: 25%; border: none">
                    <div class="col-md-6">
                        <label for="lastName">Фамилия</label>
                        <input type="text" class="form-control" id="lastName" name = "lastName" placeholder="Фамилия"/>
                    </div>
                </td>
            </tr>
            <td style="width: 25%; border: none">
                <div class="col-md-6">
                    <label for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="emailHelp"
                           placeholder="Имя"/>
                </div>
            </td>
            </tr>
            <tr>
                <td style="width: 25%; border: none">
                    <div class="col-md-6">
                        <label for="extName">Отчество</label>
                        <input type="text" class="form-control" id="extName" name = "extName" placeholder="Отчество"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 25%; border: none">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="container" th:utext="${persons}"></div>


<script type="text/javascript"
        src="webjars/jquery/3.2.1/jquery.js"/>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript"
        src="../../js/main.js"></script>

</body>
</html>
